# Auto detect text files and perform LF normalization
* text=java
*.swift linguist-language=java
*.js linguist-language=java 
*.css linguist-language=java
*.html linguist-language=java  
*.java linguist-language=java
